<!-- 'hero' corresponds to the 'selectedHero' from HeroesComponent'. 
The hero details should only be displayed when a hero is selected. When a component is created initially, there is
no selected hero. Add the *ngIf directive to the <div> that wraps the hero details. This directive tells Angular
to render the section only when the selectedHero is defined after it has been selected by clicking on a hero. -->
<div *ngIf="hero">

    <!-- The word uppercase in the interpolation binding after the pipe | character, activates the built-in UppercasePipe. -->
    <h2>{{hero.name | uppercase}} Details</h2>
    <div>id: {{hero.id}}</div>
    <div>
        <label for="hero-name">Hero name: </label>
        <input id="hero-name" [(ngModel)]="hero.name" placeholder="name">
    </div>
    
</div>